@model User

@{
    ViewBag.Title = "Update user details";
    Layout = "_Layout";
}

<h2>Update user details</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input hidden asp-for="Id" class="form-control" value="@Model?.Id">
        <input asp-for="Name" class="form-control" placeholder="Update your name" value="@Model?.Name">
        <span asp-validation-for="Name" class="text-danger"></span>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" placeholder="Enter your lastname" value="@Model?.LastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
        <label asp-for="PersonalId"></label>
        <input asp-for="PersonalId" class="form-control" placeholder="Enter your person ID" value="@Model?.PersonalId">
        <span asp-validation-for="PersonalId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success form-control">Update</button>
</form>


<div class="mt-2">
    <form action="/User/ShowAll">
        <button type="submit" class="btn btn-outline-primary form-control">Show all users list</button>
    </form>
</div>