@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Authors: Viktoras Žigaras, Tomas Daugėla, Ieva Mockutė, Edgaras Baroniūnas</p>
</div>
